body {
  text-align: center;
  /* background-color: #000000; */
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='780' preserveAspectRatio='none' viewBox='0 0 1600 780'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1600' height='780' x='0' y='0' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/rect%3e%3cpath d='M-7.809488732205267 468.4207926867261L17.653525429100345 588.2148557880804 137.4475885304547 562.7518416267749 111.98457436914909 442.95777852542045z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1109.076%2c466.332C1145.352%2c467.284%2c1171.578%2c434.267%2c1187.329%2c401.576C1200.926%2c373.355%2c1196.431%2c342.066%2c1182.458%2c314.029C1166.355%2c281.718%2c1145.106%2c246.821%2c1109.076%2c244.56C1070.295%2c242.126%2c1034.231%2c268.485%2c1017.797%2c303.696C1003.289%2c334.782%2c1020.837%2c367.733%2c1037.627%2c397.648C1054.957%2c428.525%2c1073.68%2c465.403%2c1109.076%2c466.332' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1472.7697519249846 593.7257340881499L1285.3348679907367 546.9929688136805 1238.6021027162674 734.4278527479283 1426.0369866505152 781.1606180223978z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M576.4689450178716 156.67363142201185L539.886229374469 44.08360974114808 463.8789233370079 193.25634706541445z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M740.54 487.67 a134.07 134.07 0 1 0 268.14 0 a134.07 134.07 0 1 0 -268.14 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M465.7162650561013 356.27924904330666L557.7445535043668 214.56811198200035 416.03341644306045 122.53982353373488 324.005127994795 264.2509605950412z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-22.419168983795387 279.98257929902184L169.98115429333762 221.15989735063732 111.1584723449531 28.759574073504325-81.2418509321799 87.58225602188884z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1600' height='780' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='12.81%25' y1='-26.28%25' x2='87.19%25' y2='126.28%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

h1 {
  font-size: 5rem;
  color: #54a300;
  font-family: "Arvo", cursive;
  text-shadow: 3px 5px #eeff38;
  margin-top: 0;

}

footer a{
  
  font-family: "Arvo", cursive;
  text-decoration: none;
  color: #018690;
}

.w {
  background-image: url(images/first.jpg);
}

.a {
background-image: url(images/third.jpg);
}

.s {
background-image: url(images/clap.png);
}

.d {
background-image: url(images/fifth.jpg);
}

.j {
background-image: url(images/sixth.jpg);
}

.k {
background-image: url(images/cymbal.jpg);
}

.l {
background-image: url(images/final.jpg);
}
.i{
  background-image:url(images/neoncymbal.png) ;
}
.m{
  background-image:url(images/bassdrum.png) ;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  background-size:cover;
  outline: none;
  border: 10px solid #54a300;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #ff07ff;
  text-shadow: 3px 4px #f3f306;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
@media screen and (max-width: 1020px){
  h1{
    font-size: 190px;
    
  }
  .drum{
    width: 280px;
  height: 280px;
  }
  footer a{
    font-size:30px;
    font-family: "Arvo", cursive;
    text-decoration: none;
    color: #018690;
  }
  .drum{
    font-size: 10rem;
    text-align:right;
    
  }
}